<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <h1>WELCOME ON YOUR GOSSIP WEBSITE<h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
    <a class="btn btn-outline-primary btn-lg rounded-pill" href="http://localhost:3000/user/new" role="button">Sign Up</a>
    <br>
    <br>
    <a class="btn btn-outline-dark btn-lg rounded-pill" href="http://localhost:3000/sessions/new" role="button">Log In</a>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
