<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <h1>WELCOME ON GOSSIP WEBSITE<h1>
      <h5>Know everything about everyone</h5>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
    <a class="btn btn-1 btn-lg rounded-pill" href="http://localhost:3000/user/new" role="button">Sign Up</a>
    <br>
    <br>
    <h6><i>Do you already have an account ? </i></h6>
    <a class="btn btn-2 btn-lg rounded-pill" href="http://localhost:3000/sessions/new" role="button">Log in Your Account</a>
    </div>
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
