<h1> Bienvenue sur la page des potins de THP </h1>

<h2>Identifie toi ! </h2>
<h3>Rentre ton identifiant :</h3>
<form action="/" method="post">
    <input type="text" name="first_name">
    <input type="submit" name="Envoyer">
</form>
